<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        #vb {
            max-width: 1051px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .button {
            height: 40px;
            min-width: 100px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            margin-right: 10px;
            transition: background-color 0.3s ease;
            margin-bottom:20px;
        }
        .button-blue {
            background-color: #3e08d3;
            color: #fff;
        }
        .button-blue:hover {
            background-color: #2d0675;
        }
        .button-red {
            background-color: #fc0101;
            color: #fff;
        }
        .button-red:hover {
            background-color: #a10000;
        }
        #messageList {
    width: 100%;
}

.message-list {
    list-style-type: none;
    padding: 0;
}

.message {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

.message-header {
    font-weight: bold;
    margin-bottom: 5px;
}

.message-body {
    margin-bottom: 5px;
}

.message-footer {
    font-size: 12px;
    color: #999;
}

        .messageField {
            height: 40px;
            width: calc(100% - 160px);
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            margin-right: 10px;
        }
        
        .emojiButton
         {
            height: 20px;
            width: 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 20px;
            margin-right: 10px;
            margin-top :10px;
            transition: background-color 0.3s ease;
        }
        .sendButton{
             height: 40px;
            width: 100px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 20px;
            margin-right: 10px;
            transition: background-color 0.3s ease;
        }
        .attachButton:hover,
        .emojiButton:hover,
        .sendButton:hover {
            background-color: #eee;
        }
        #error {
            color: #e10909;
            font-size: 14px;
            margin-bottom: 10px;
        }
        #imageView {
            max-width: 100%;
            height: auto;
            margin-top: 20px;
            border-radius: 5px;
        }
       

   
    .emoji{
        margin-left:3.5px;
        margin-top:10px;
        height:0px;
        width:400px;
        border-radius:5px;
        background: #fff;
        overflow-y: scroll;
        cursor: pointer;
        transition:0.5s height;
    }
    .emoji::-webkit-scrollbar{
        width:0;
    }
    .emoji span{
        margin-left:9.8px;
        font-size:26px;
    }
      
    </style>


</head>
<body>  
    <div style="background-color: {{ colorCode }};" id="vb">
        <div>
            <button class="button button-blue"><a class="button button-blue" href="{{ path ('list_discussions') }}">Retour</a></button>
            {% if discussion.createur == connectedUser %}
            <button id="update" class="button button-blue"><a class="button button-blue" href="{{ path ('edit_discussion', {'id':id}) }}">Modifier</a></button>
            {% endif %}
        </div>
        <div id="messageList">
            <ul class="message-list">
                {% for message in messages %}
                    <li class="message">
                        <div class="message-header">{{ message.emetteur }}</div>
                        <div class="message-body">{{ message.contenu }}</div>
                        <div class="message-footer">{{ message.dateEnvoi ? message.dateEnvoi|date('Y-m-d   H:i:s') : '' }}</div>
                        
                        {% if message.image %}
                        <img src="data:image/png;base64,{{ message.image }}" alt="Image" />
                        {% endif %}
                        {% if connectedUser == message.emetteur %}
                            <button onclick="" class="emojiButton"><a class="button_delete" href="{{ path('update_message', {'id': message.id, 'idDiscussion': id}) }}"><i class="fas fa-edit"></i></a></button>
                            <button onclick="confirmDelete('{{ path('delete_message', {'id': message.id, 'idDiscussion': id}) }}')" class="emojiButton"><i class="fas fa-trash-alt"></i></button>
                        {% endif %}


                    </li>
                {% endfor %}
            </ul>
         
        </div>

        <div>
            <button onclick="show_emoji()" class="emojiButton">😊</button>
            {{ form_start(form, {'attr': {'class': 'form-container'}}) }}

            <div class="form-group">
            
            {{ form_widget(form.contenu, {'attr': {'class': 'messageField','id': 'contenu', 'placeholder': 'Entrer votre message ici ...'}}) }}
            <div id="contenu" data-value="{{ form.contenu.vars.value|default('No message yet') }}"></div>

            <label  class="error-message">{{ form_errors (form.contenu) }}</label>
            <div class="emoji">
            <span id="emoji1" onclick="emoji(this.id)">&#128512;</span>
            <span id="emoji2" onclick="emoji(this.id)">&#128513;</span>
            <span id="emoji3" onclick="emoji(this.id)">&#128514;</span>
            <span id="emoji4" onclick="emoji(this.id)">&#128515;</span>
            <span id="emoji5" onclick="emoji(this.id)">&#128516;</span>
            <span id="emoji6" onclick="emoji(this.id)">&#128517;</span>
            <span id="emoji7" onclick="emoji(this.id)">&#128518;</span>
            <span id="emoji8" onclick="emoji(this.id)">&#128519;</span>
            <span id="emoji9" onclick="emoji(this.id)">&#128520;</span>
            <span id="emoji10" onclick="emoji(this.id)">&#128521;</span>
            <span id="emoji11" onclick="emoji(this.id)">&#128522;</span>
            <span id="emoji12" onclick="emoji(this.id)">&#128523;</span>
            <span id="emoji13" onclick="emoji(this.id)">&#128524;</span>
            <span id="emoji14" onclick="emoji(this.id)">&#128525;</span>
            <span id="emoji15" onclick="emoji(this.id)">&#128526;</span>
            <span id="emoji16" onclick="emoji(this.id)">&#128527;</span>
            <span id="emoji17" onclick="emoji(this.id)">&#128528;</span>
            <span id="emoji18" onclick="emoji(this.id)">&#128529;</span>
            <span id="emoji19" onclick="emoji(this.id)">&#128530;</span>
            <span id="emoji20" onclick="emoji(this.id)">&#128531;</span>
            <span id="emoji21" onclick="emoji(this.id)">&#128532;</span>
            <span id="emoji22" onclick="emoji(this.id)">&#128533;</span>
            <span id="emoji23" onclick="emoji(this.id)">&#128534;</span>
            <span id="emoji24" onclick="emoji(this.id)">&#128535;</span>
            <span id="emoji25" onclick="emoji(this.id)">&#128536;</span>
            <span id="emoji26" onclick="emoji(this.id)">&#128537;</span>
            <span id="emoji27" onclick="emoji(this.id)">&#128538;</span>
            <span id="emoji28" onclick="emoji(this.id)">&#128539;</span>
            <span id="emoji29" onclick="emoji(this.id)">&#128540;</span>
            <span id="emoji30" onclick="emoji(this.id)">&#128541;</span>
            <span id="emoji31" onclick="emoji(this.id)">&#128542;</span>
            <span id="emoji32" onclick="emoji(this.id)">&#128543;</span>
            </div>
        </div>

        <div class="form-group">
            {{ form_widget(form.image, {'label': 'Envoyer', 'attr': {'class': 'attachButton'}}) }}
        </div>
         <div class="form-group">
            {{ form_widget(form.save, {'label': 'Envoyer', 'attr': {'class': 'sendButton'}}) }}
        </div>
        {{ form_end(form) }}

            
        </div>
        <label id="error"></label>
        <img id="imageView" />
    </div>
    <script>
    function confirmDelete(deleteUrl) {
        if (confirm('Are you sure you want to delete this message?')) {
            window.location.href = deleteUrl;
        }
    }
</script>
<script>
    click = false ;
    function show_emoji(){
    if(click == false){
        document.getElementsByClassName("emoji")[0].style.height = "142px";
        document.getElementsByClassName("emoji")[0].style.padding = "8px 0px";
        click=true;
    }else{
         document.getElementsByClassName("emoji")[0].style.height = "0px";
         document.getElementsByClassName("emoji")[0].style.padding = "0px";
         click = false;
    }
   }
    
      function emoji(emojiId) {
        // Get the emoji character from the clicked span
        var emojiCharacter = document.getElementById(emojiId).innerHTML;

        // Get the input field element
        var contenuInput = document.querySelector('.messageField');

        // Insert the emoji character into the input field at the current cursor position
        if (contenuInput.selectionStart || contenuInput.selectionStart == '0') {
            var startPos = contenuInput.selectionStart;
            var endPos = contenuInput.selectionEnd;
            contenuInput.value = contenuInput.value.substring(0, startPos) + emojiCharacter + contenuInput.value.substring(endPos, contenuInput.value.length);
        } else {
            contenuInput.target.value += emojiCharacter;
        }

    }

</script>

</body>
</html>
